*{
    box-sizing: border-box;
}
:root{
    --hero-color: #fff;
    --hero-background-color: green;
    --color1: #597C2B;
    --color2: #3dd591;
    --color3: #80A142;
    --color4: #B63D18;
}

body{
    margin: 0;
    font-family: sans-serif;
}
 /* layout  */

 .layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading_container h2 {
  font-weight: bold;
  text-transform: uppercase;
}

/* .conatiner{
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
    
} */

/* nav section - start */


.hero_area.sub_pages {
  height: auto;
}

.header_section {
  overflow-x: hidden;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.header_section .user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_section .user_option a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_section .user_option a img {
  min-width: 20px;
  height: 20px;
  margin-right: 5px;
}
.navbar-brand {
    margin-right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar-brand img {
    width: 35px;
    margin-right: 5px;
  }
  
  .navbar-brand span {
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
  }

  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 30px;
    width: 32px;
    height: 32px;
  }
  .hero_area {
    height: calc(100vh - 30px);
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, #043927), color-stop(55%, #668D2E));
    background: linear-gradient(to right, #043927 55%, lightgreen 55%);
   
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  
  .sub_page .hero_area {
    height: auto;
    background: none;
    /* background-color: #1a2e35; */
    
  }
  
  .hero_area.sub_pages {
    height: auto;
  }
  
  .header_section {
    overflow-x: hidden;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .header_section .user_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header_section .user_option a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header_section .user_option a img {
    min-width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 10px 15px;
    color: #ffffff;
    text-align: center;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  /* .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  } */
  
  .custom_nav-container form {
    padding-top: 7px;
  }
  
  .navbar-brand {
    margin-right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar-brand img {
    width: 35px;
    margin-right: 5px;
  }
  
  .navbar-brand span {
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 0;
    height: 70px;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 30px;
    width: 32px;
    height: 32px;
  }
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 10px 15px;
    color: #ffffff;
    text-align: center;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .lg_toggl-btn {
    background-color: transparent;
    border: none;
    outline: none;
    width: 56px;
    height: 40px;
    cursor: pointer;
  }
  
  .lg_toggl-btn:focus {
    outline: none;
  }
  
  /* .login_btn-container {
    padding-top: 30px;
  }
  
  .login_btn-container a {
    color: #1cbbb4;
    text-transform: uppercase;
  } */
  
/* .nav-bar ul{
    display: flex;
    justify-content: flex-end;
    
}
li{
    padding: 0.3rem;
   list-style: none;
    color: var(--hero-color);
    
}

.nav-section{
    background-color: var(--hero-background-color);
    position: sticky;
    padding: 0.3rem;
} */
/* nav section - end  */

/* hero section - start */

.hero-content{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    
}


/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .row > div {
  position: unset;
}

.slider_section .detail-box h1 {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.slider_section .detail-box p {
  color: #ffffff;
  margin-top: 15px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 45px -5px 0 -5px;
}

.slider_section .detail-box .btn-box a {
  text-align: center;
  width: 165px;
  font-size: 15px;
  margin: 5px;
}

.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 0;
  background-color: var(--color3);
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 0;
}

.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  border-color: var(--color1);
  color: var(--color1);
}

.slider_section .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 0;
  background-color: #ffffff;
  color: #252525;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 0;
}

.slider_section .detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.slider_section .img-container .img-box img {
  width: 100%;
}

.slider_section #carouselExampleIndicators {
  position: unset;
  width: 100%;
}

.slider_section .carousel_btn-container {
  width: 120px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 8.5%;
  z-index: 999;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.slider_section .carousel_btn-container .carousel-control-prev,
.slider_section .carousel_btn-container .carousel-control-next {
  position: relative;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  background-color: var(--color2);
  margin: 2px;
}

.slider_section .carousel_btn-container .carousel-control-prev:hover,
.slider_section .carousel_btn-container .carousel-control-next:hover {
  background-color: var(--color4);
}

.slider_section .carousel_btn-container .carousel-control-prev {
  background-image: url(../images/prev.png);
}

.slider_section .carousel_btn-container .carousel-control-next {
  background-image: url(../images/next.png);
}

.slider_section ol.carousel-indicators {
  margin: 0;
  width: 75px;
  bottom: 45px;
  left: initial;
  right: 25px;
}

.slider_section ol.carousel-indicators li {
  border-radius: 100%;
  text-indent: 0px;
  text-align: center;
  line-height: 55px;
  color: #ffffff;
  background-color: transparent;
  opacity: 1;
  display: none;
}

.slider_section ol.carousel-indicators li.active {
  display: block;
}
/* slider section end */

/* about section start */

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .detail-box p {
  margin-top: 20px;
}

.about_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 45px -5px 0 -5px;
}

.about_section .detail-box .btn-box a {
  text-align: center;
  width: 165px;
  font-size: 15px;
  margin: 5px;
}

.about_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 0;
  background-color: #ff4f5a;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 0;
}

.about_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  border-color: #ff4f5a;
  color: #ff4f5a;
}

.about_section .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 0;
  background-color: #c7560c;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 0;
}

.about_section .detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  border-color: #c7560c;
  color: #c7560c;
}

.about_section .img-box img {
  width: 100%;
}

/* about section end  */

#navbarSupportedContent {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbarSupportedContent.lg_nav-toggle {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.custom_menu-btn button {
  margin-top: 12px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn button span {
  display: block;
  width: 34px;
  height: 4px;
  background-color: #fff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
}

.custom_menu-btn .s-2 {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: 17px;
  margin-left: auto;
}

.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translate(8px, 8px);
          transform: rotate(45deg) translate(8px, 8px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
          transform: rotate(-45deg) translate(8px, -8px);
}


/* footer section */
/* .footer {
  background-color: var(--color1);
  color: var;
  padding: 1em 2em;
  text-align: center;
} */
.footer {
  background-color: green;
  color: #D0E3FF;
  padding: 20px 0;
  text-align: center;
}

footer{
    background-color: #597C2B;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}